<app-menu ngSkipHydration></app-menu>

<div class="main-container">

  <section class="image-info">
    <div class="info">
      <section class="publicaciones">
        <h2>Publicaciones recientes</h2>
        <div class="lista-publicaciones">
          <div *ngFor="let pub of publicaciones" class="card" [ngClass]="{'sin-imagen': pub.imagen === '', 'card': pub.imagen !== ''}">

            <img *ngIf="pub.imagen !== ''" [src]="pub.imagen" alt="Imagen de la publicación">


            <div class="contenido">
              <p>{{ pub.texto }}</p>
              <span class="fecha">{{ pub.fecha | date:'short' }}</span>
              <span class="respuesta-fecha">Publicado por: {{ pub.nombreUsuario }}</span>
              <br>
              
              <div *ngIf="idRolActual == 2" class="toggle-container">
                <label class="switch">
                  <input type="checkbox" [checked]="pub.activo" (change)="togglePublicacion(pub)">
                  <span class="slider round"></span>
                </label>
              </div>
              
              <button class="btn-responder" (click)="abrirModal(pub.idPublicacion)">
                <i class="fas fa-comments"></i>
              </button>

              

              <button *ngIf="pub.idUsuario == idUsuarioActual" class="btn-eliminar" (click)="confirmarEliminar(pub)">
                <i class="fas fa-trash-alt"></i> 
              </button>
            </div>
          </div>
        </div>
      </section>
    </div>

    <div class="image-container">
      <div class="crear-publicacion">
        <h2>Crear nueva publicación</h2>
        <textarea [(ngModel)]="nuevaPublicacion.texto" placeholder="Escribe tu publicación..."></textarea>
        <input type="file" (change)="cargarImagen($event)">
        <button (click)="publicar()">Publicar</button>
      </div>
    </div>
  </section>
</div>

<!-- Modal para mostrar respuestas -->
<div *ngIf="modalVisible" class="modal-overlay">
  <div class="modal-content">
    <button class="close-button" (click)="cerrarModal()">&times;</button>
    <h2>Respuestas</h2>

    <!-- Contenedor con scroll para las respuestas -->
    <div class="respuestas-container">
      <ul *ngIf="respuestasActuales.length > 0; else noRespuestas">
        <li *ngFor="let resp of respuestasActuales" class="respuesta">
          <div class="respuesta-contenido">
            <p class="respuesta-texto">
              <strong>{{ resp.nombreUsuario }}:</strong> {{ resp.texto }}
            </p>
            
            
            <button *ngIf="resp.idUsuario == idUsuarioActual" class="btn-eliminarComent" (click)="confirmarEliminarComentario(resp)">
              <i class="fas fa-trash-alt"></i> 
            </button>

            <span class="respuesta-fecha">{{ resp.fecha | date: 'short' }}</span>
          </div>
        </li>
      </ul>
      <ng-template #noRespuestas>
        <p class="mensaje-no-respuestas">Aún no hay respuestas para esta publicación.</p>
      </ng-template>
    </div>
    
    <div class="respuesta-input">
      <input type="text" [(ngModel)]="nuevaRespuesta.texto" placeholder="Escribe tu respuesta..." />

      <button class="btn-enviar" (click)="enviarRespuesta()">
        <i class="fas fa-paper-plane"></i> 
      </button>
      

    </div>
  </div>
</div>

<div *ngIf="mostrarModal" class="modal-overlay">
  <div class="modal-content">
    <p>¿Está seguro que quiere eliminar la publicación?</p>
    <button class="btn-eliminarConfig" (click)="eliminarPublicacion()">Sí, eliminar</button>
    <button (click)="cancelarEliminar()">Cancelar</button>
  </div>
</div>

<div *ngIf="mostrarModalComentario" class="modal-overlay">
  <div class="modal-content">
    <p>¿Está seguro que quiere eliminar este comentario?</p>
    <button class="btn-eliminarConfig" (click)="eliminarComentario()">Sí, eliminar</button>
    <button (click)="cancelarEliminarComentario()">Cancelar</button>
  </div>
</div>
