<app-menu ngSkipHydration></app-menu>

<div class="main-container">
  <header class="hero">
    <h1>Manejo sostenible de los bosques</h1>
  </header>
  
  <section class="image-info">
    <div class="info">
      
      <p>El manejo forestal sostenible (MFS) o la gestión sostenible de los bosques es la administración que y el uso de los bosques de manera correcta, esto ayuda a que los bosques puedan mantener su biodiversidad, productividad y la capacidad de regenerarse.
        Esto nos solo busca maximizar el uso económico de los recursos de los bosques, sino que también busca conservar los ecosistemas de los bosques, la biodiversidad que se encuentra en ellos y los beneficios que brindan tanto a las personas como al planeta.
      </p>
      <p>Como su nombre lo dice, el manejo sostenible de los bosques se basa en el concepto de <strong>sosteniblidad</strong>, esto quiere decir que los recursos de los bosques se deben utilizar de manera que se puedan regenerar de manera natural y seguir brindando 
        todos sus beneficios a lo largo del tiempo, para lograr esto se toma en cuenta la biodiversidad que se encuentra en el ecosistema y su capacidad para llevar a cabo funciones ecológicas como la regulación del ciclo del agua y la captura de carbono del aire.
      </p>
        <p>Por otra parte, otro punto clave de manejo sostenible de los bosques es la <strong>conservación de la biodiversidad</strong>, esto porque los bosques tienen una gran cantidad de animales, estos son vitales para mantener la salud de los ecosistemas. Los bosques son la casa 
          de de miles de especies, muchas de las cuales no son únicas de estos entornos, sino que también tienen un rol importante en la estabilidad de los ecosistemas globales. Cuando se gestionan los bosques de manera sostenible es de su importancia llevar a cabo 
          acciones para proteger toda la diversidad biológica y asegurar que puedan prosperar sin las amenazas de sobreexplotación y la degradación de sus hábitats
        </p>
        <p>Con el manejo sostenible de los bosques se tiene también en cuenta el manejo de los recursos forestales, Esto a lo que se refiere es una planificación que considere no solo la extracción de madera, sino también de frutas y otros productos, el objetivo es saber 
          equilibrar la extracción de todos estos recursos  con la regeneración de los bosques, esto para evitar la sobreexplotación y asegurar su viabilidad futura. La <strong>reforestación</strong>  y la <strong>atalación</strong> son de suma importancia en esto, ya 
          que reforestar áreas que se han visto afectadas por la deforestación o que se encuentran degradas ayuda a poder restaurar la capacidad del bosque de que en el futuro pueda desempeñar todas sus funciones ecológicas. 
        </p>
        <p>Uno de los principales desafíos que se encuentran en cuanto a los bosques son la <strong>deforestación</strong> y la <strong>degradación</strong>, estas son una amenaza constante. La expansión agrícola, la urbanización y la tala ilegal de árboles son algunos 
          de los factores que afectan de gran manera los bosques. La lucha contra las empresas que buscan explotar los recursos forestales para su beneficio económico es frecuente.
        </p>
    </div>
    <div class="image-container">
      <img src="../../assets/bosque.jpg" alt="Bosque" class="main-image">
      <div class="contact">
        <h2>Denuncia el mal manejo forestal</h2>
        
        <div class="contact-info">
            <p>Global Witness es una organización a la que se puede denunciar el mal manejo forestal desde cualquier país. 
                Se investiga y denuncia la tala ilegal y la destrucción de bosques, también denuncia los abusos que sufren los defensores del medio ambiente.</p>
          <p><strong>Oficinas:</strong></p>
          <ul>
            <li><strong>Londres:</strong> Global Witness, Green House, 244-254 Cambridge Heath Road, London E2 9DA</li>
            <li><strong>Teléfono:</strong> +44 (0)20 7947 0309</li>

            <li><strong>Washington DC:</strong> Global Witness, c/o WeWork, 4th Floor, 700 K Street, NW, Washington, DC 20001</li>
            <li><strong>Teléfono:</strong> +1 202 964 1645</li>
          </ul>

          <p><strong>Consultas Generales:</strong></p>
          <ul>
            <li><strong>Teléfono:</strong> +44 (0)20 7947 0309</li>
            <li><a href="mailto:mail@globalwitness.org"><strong>Correo Electronico</strong></a></li>
          </ul>

          <p><strong>Consultas de Medios:</strong></p>
          <ul>
            <li><strong>Teléfono:</strong> +44 (0)7912 517 127</li>
            <li><a href="mailto:media@globalwitness.org"><strong>Correo Electronico</strong></a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>
