<app-menu ngSkipHydration></app-menu>

<div class="main-container">
  <header class="hero">
    <h1>Manejo sostenible de los bosques</h1>
  </header>
  
  <section class="image-info">
    <div class="info">
      
      <p class="b">
        La gestión forestal sostenible (GFS) es la administración y uso de los bosques y terrenos forestales de manera que se mantenga su biodiversidad, productividad, capacidad de regeneración, vitalidad y su potencial de cumplir funciones ecológicas, económicas y sociales a nivel local, nacional y mundial, sin dañar otros ecosistemas.
        <br><br>
        <strong>Principios Clave de la GFS:</strong>
      </p>
      <ul>
        <li>Equilibrio entre los pilares ecológico, económico y sociocultural.</li>
        <li>Provisión de beneficios sociales y ambientales.</li>
        <li>Sostenibilidad a largo plazo.</li>
        <li>Adaptabilidad a los desafíos cambiantes.</li>
      </ul>
    </div>
    <div class="image-container">
      <img src="../../assets/bosque.jpg" alt="Bosque" class="main-image">
      <div class="contact">
        <h2>Denuncia el mal manejo forestal</h2>
        
        <div class="contact-info">
            <p>Global Witness es una organización a la que se puede denunciar el mal manejo forestal desde cualquier país. 
                Se investiga y denuncia la tala ilegal y la destrucción de bosques, también denuncia los abusos que sufren los defensores del medio ambiente.</p>
          <p><strong>Oficinas:</strong></p>
          <ul>
            <li><strong>Londres:</strong> Global Witness, Green House, 244-254 Cambridge Heath Road, London E2 9DA</li>
            <li><strong>Teléfono:</strong> +44 (0)20 7947 0309</li>

            <li><strong>Washington DC:</strong> Global Witness, c/o WeWork, 4th Floor, 700 K Street, NW, Washington, DC 20001</li>
            <li><strong>Teléfono:</strong> +1 202 964 1645</li>
          </ul>

          <p><strong>Consultas Generales:</strong></p>
          <ul>
            <li><strong>Teléfono:</strong> +44 (0)20 7947 0309</li>
            <li><a href="mailto:mail@globalwitness.org"><strong>Correo Electronico</strong></a></li>
          </ul>

          <p><strong>Consultas de Medios:</strong></p>
          <ul>
            <li><strong>Teléfono:</strong> +44 (0)7912 517 127</li>
            <li><a href="mailto:media@globalwitness.org"><strong>Correo Electronico</strong></a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>
