<app-menu ngSkipHydration></app-menu>

<div class="main-container">
  <header class="hero">
    <h1>Manejo sostenible de los bosques</h1>
  </header>
  
  <section class="image-info">
    <div class="info">
      
      <p>El <strong>manejo forestal sostenible (MFS)</strong> o la <strong>gestión sostenible de los bosques</strong> es la administración y el uso de los bosques de manera correcta, esto ayuda a que los bosques puedan mantener su biodiversidad, productividad y la capacidad de regenerarse.
        Esto no solo busca maximizar el uso económico de los recursos de los bosques, sino que también busca conservar los ecosistemas de los bosques, la biodiversidad que se encuentra en ellos y los beneficios que brindan tanto a las personas como al planeta.
      </p>
      <p>Como su nombre lo dice, el manejo sostenible de los bosques se basa en el concepto de <strong>sostenibilidad</strong>, esto quiere decir que los recursos de los bosques se deben utilizar de manera que se puedan regenerar de manera natural y seguir brindando 
        todos sus beneficios a lo largo del tiempo, para lograr esto se toma en cuenta la biodiversidad que se encuentra en el ecosistema y su capacidad para llevar a cabo funciones ecológicas como la regulación del ciclo del agua y la captura de carbono del aire.
      </p>
      <p>El <strong>manejo forestal sostenible</strong> también contribuye a la mitigación del cambio climático al mantener la capacidad de los bosques para absorber dióxido de carbono, un importante gas de efecto invernadero.</p>
      <p>Por otra parte, otro punto clave del manejo sostenible de los bosques es la <strong>conservación de la biodiversidad</strong>, esto porque los bosques tienen una gran cantidad de animales, estos son vitales para mantener la salud de los ecosistemas. Los bosques son el hábitat
         de miles de especies, muchas de las cuales no solo son únicas de estos entornos, sino que también tienen un rol importante en la estabilidad de los ecosistemas globales. Cuando se gestionan los bosques de manera sostenible, es de suma importancia llevar a cabo 
         acciones para proteger toda la diversidad biológica y asegurar que puedan prosperar sin las amenazas de sobreexplotación y la degradación de sus hábitats.</p>
      <p>Con el manejo sostenible de los bosques se tiene también en cuenta el <strong>manejo de los recursos forestales</strong>. Esto se refiere a una planificación que considere no solo la extracción de madera, sino también de frutas y otros productos. El objetivo es equilibrar 
         la extracción de todos estos recursos con la regeneración de los bosques para evitar la sobreexplotación y asegurar su viabilidad futura. La <strong>reforestación</strong> y la <strong>aforestación</strong> son de suma importancia en esto, ya que reforestar 
         áreas que se han visto afectadas por la deforestación o que se encuentran degradadas ayuda a restaurar la capacidad del bosque para que en el futuro pueda desempeñar todas sus funciones ecológicas.</p>
      <p>Uno de los principales desafíos que se encuentran en cuanto a los bosques son la <strong>deforestación</strong> y la <strong>degradación</strong>. Estas son una amenaza constante. La expansión agrícola, la urbanización y la tala ilegal de árboles son algunos 
         de los factores que afectan de gran manera los bosques. La lucha contra las empresas que buscan explotar los recursos forestales para su beneficio económico es frecuente.</p>
      <p>En Colombia, por ejemplo, la deforestación aumentó un 35% entre 2023 y 2024, revirtiendo tendencias anteriores de disminución. Este incremento se atribuye a factores como la expansión agrícola y conflictos con grupos armados ilegales que transforman selvas en pastizales y cultivos ilícitos. </p>
      <p>Por otro lado, la pérdida de biodiversidad también afecta la funcionalidad de los ecosistemas. Un estudio reciente advierte que proteger reservas naturales no es suficiente para preservar la biodiversidad, ya que la presión humana en las áreas circundantes está asfixiando estos espacios.</p>
      <p>Para abordar estos desafíos, es crucial implementar políticas integrales que combinen la conservación de la biodiversidad con el desarrollo sostenible. Esto incluye la promoción de prácticas agrícolas sostenibles, la restauración de ecosistemas degradados y la educación ambiental para concienciar a las comunidades sobre la importancia de los bosques y su manejo responsable.</p>

    </div>
    <div class="image-container">
      <img src="../../assets/bosque.jpg" alt="Bosque" class="main-image">
      <div class="contact">
        <h2>Denuncia el mal manejo forestal</h2>
        
        <div class="contact-info">
            <p>Global Witness es una organización a la que se puede denunciar el mal manejo forestal desde cualquier país. 
                Se investiga y denuncia la tala ilegal y la destrucción de bosques, también denuncia los abusos que sufren los defensores del medio ambiente.</p>
          <p><strong>Oficinas:</strong></p>
          <ul>
            <li><strong>Londres:</strong> Global Witness, Green House, 244-254 Cambridge Heath Road, London E2 9DA</li>
            <li><strong>Teléfono:</strong> +44 (0)20 7947 0309</li>

            <li><strong>Washington DC:</strong> Global Witness, c/o WeWork, 4th Floor, 700 K Street, NW, Washington, DC 20001</li>
            <li><strong>Teléfono:</strong> +1 202 964 1645</li>
          </ul>

          <p><strong>Consultas Generales:</strong></p>
          <ul>
            <li><strong>Teléfono:</strong> +44 (0)20 7947 0309</li>
            <li><a href="mailto:mail@globalwitness.org"><strong>Correo Electronico</strong></a></li>
          </ul>

          <p><strong>Consultas de Medios:</strong></p>
          <ul>
            <li><strong>Teléfono:</strong> +44 (0)7912 517 127</li>
            <li><a href="mailto:media@globalwitness.org"><strong>Correo Electronico</strong></a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>
