
<app-menu ngSkipHydration></app-menu>
<div class="main-container">
    <header class="hero">
        <h1>Detener la pérdida de biodiversidad </h1>
      </header>
      <br>
        <div class="image-container">
            
            <img src="../../assets/bio5.jpg" alt="Leopardo en Masai Mara" class="main-image">
            <img src="../../assets/bio2.jpg" alt="Leopardo en Masai Mara" class="main-image">
            <img src="../../assets/bio1.jpg" alt="Leopardo en Masai Mara" class="main-image">
            <img src="../../assets/bio4.jpg" alt="Leopardo en Masai Mara" class="main-image">
            
        </div>
    
    <section class="content">
    <div class="info">
      <p class="b">
        La pérdida de biodiversidad terrestre, una crisis silenciosa pero devastadora, exige acciones urgentes y coordinadas para preservar la riqueza y la salud de nuestros ecosistemas. En primer lugar, resulta imperativo salvaguardar y restaurar los hábitats terrestres, especialmente los bosques, que actúan como refugios vitales para innumerables especies. La reforestación, junto con la protección rigurosa de los bosques existentes, se presenta como una estrategia fundamental.
Además, es esencial transformar nuestros sistemas alimentarios, reconociendo que la producción de alimentos es un motor clave de la pérdida de biodiversidad. Adoptar prácticas agrícolas sostenibles, promover dietas equilibradas y reducir el desperdicio de alimentos son pasos cruciales. Integrar la naturaleza en las políticas sobre alimentos y agua, fomentando métodos agrícolas que mejoren la productividad de la tierra sin comprometer la biodiversidad, es igualmente importante.
Sin embargo, estas acciones requieren un respaldo financiero sólido. Es necesario cerrar la brecha entre los recursos disponibles y los fondos necesarios para la conservación y restauración de los ecosistemas, cumpliendo los compromisos del Marco Global de Biodiversidad.
A nivel nacional, los países deben desarrollar estrategias ambiciosas que identifiquen áreas prioritarias para la protección y la restauración. A nivel individual, cada ciudadano puede contribuir adoptando un estilo de vida más sostenible, desde elegir alimentos y medios de transporte respetuosos con el medio ambiente hasta reducir el consumo y apoyar iniciativas de conservación. En definitiva, la lucha contra la pérdida de biodiversidad terrestre es una responsabilidad compartida que exige un compromiso global y acciones concretas en todos los niveles.
      </p>
    </div>
    <div class="share-panel">
        <h5>Greenpeace</h5>
        <ul>
            <h6>Es una organización ecologista internacional, independiente política y económicamente, lleva a cabo campañas para detener el cambio climático y proteger la biodiversidad</h6>
            <p>Calle Valores 1, 28007 Madrid 
                <br> Teléfono: 91 4441400 <br>
            </p>
            <li><a href="https://es.greenpeace.org"><strong>Visite aquí la página web</strong></a></li>
            <li><a href="mailto:info.es@greenpeace.es"><strong>Correo Electronico</strong></a></li>
        </ul>
    </div>
</section>
</div>
