<div class="main-container">
  <header class="hero">
    <h1>Flora y fauna terrestre</h1>
    <p class="a">Protegiendo la biodiversidad y promoviendo el desarrollo sostenible.</p>
  </header>
  
  <section class="content">
    <img src="../../assets/4.jpg" alt="Leopard en Masai Mara" class="main-image">
    
    <div class="info">
      <h2>Objetivo mundial #15 para el desarrollo sostenible</h2>
      <p class="b">
        Proteger, restaurar y promover el uso sostenible de los ecosistemas terrestres,
         el manejo sostenible de los bosques,
        la lucha contra la desertificación,
        y detener y revertir la degradación de la tierra 
        y detener la pérdida de biodiversidad
      </p>
    </div>
  </section>
</div>
