<app-menu ngSkipHydration></app-menu>

<div class="main-container">
  <header class="hero">
    <h1>Detener y revertir la degradación de la tierra</h1>
  </header>
  
  <section class="image-info">
    <div class="info">
      
      <p>
        La <strong>degradación de la tierra</strong> es una problemática ambiental que amenaza muy seriamente la biodiversidad y la estabilidad del clima en el planeta. 
        Esta se produce cuando el suelo empieza a perder su fertilidad y su capacidad de retener el agua, esto producto de diferentes factores como lo 
        pueden ser la deforestación, la actividad agrícola excesiva, la sobreexplotación de los recursos y la urbanización. Esto no solo afecta la productividad 
        de los ecosistemas, sino que también ayuda al avance de la desertificación, agravando el cambio climático.
      </p>
      <p>
        Para poder <strong>detener y revertir la degradación de la tierra</strong> es de suma importancia llevar a cabo diferentes prácticas de manejo 
        sostenible del suelo, entre ellas se encuentra la agricultura regenerativa, esta promueve la rotación de cultivos, la 
        agroforestería y el uso de ciertos abonos que ayuden a la restauración del suelo. La reforestación también es clave para 
        detener y revertir la degradación de la tierra, plantar árboles y ciertas plantas es un gran aporte para evitar la erosión y 
        recuperar la biodiversidad de ciertos hábitats. También se puede mencionar el uso eficiente del agua, la reducción del pastoreo 
        y utilizar barreras naturales pueden ayudar de gran manera a mantener la humedad de los suelos y evitar que estos se degraden.
      </p>
      <p>
        La lucha para <strong>detener la degradación de la tierra</strong> tiene muchos desafíos, uno de los más importantes son las 
        grandes empresas agroindustriales y las empresas mineras, ya que estas explotan el suelo y sus recursos sin pensar en las 
        consecuencias que esto puede tener. En muchos casos se presenta una gran deforestación para poder expandir sus cultivos, esto en 
        ocasiones llega a ha llegado a acabar con ecosistemas enteros, dejando los suelos completamente desgastados y muy propensos a la 
        erosión. Además, las la minería y la urbanización descontrolada convierten grandes áreas de tierras fértiles en kilómetros de 
        tierras estériles. Se ha presentado en muchos casos que las comunidades se resisten a estos actos de las empresas, ya sea 
        poniendo quejas u organizando movimientos para defender la tierra y exigir regulaciones más estrictas en contra de la explotación 
        descontrolada del suelo, pero por la presión que ejercen estas grandes empresas, acompañado del poco interés de los gobiernos 
        dificulta poder tener una solución a estos problemas.
      </p>

    </div>
    <div class="image-container">
      <img src="../../assets/degra1.jpg" alt="Bosque" class="main-image">
      <div class="contact">
        <h2>Alianza Mundial por el Suelo</h2>
        
        <div class="contact-info">
            <p>Es una iniciativa que busca proteger y gestionar de manera sostenible 
              los suelos del planeta. Trabaja con gobiernos, organizaciones y expertos
               para promover prácticas que mantengan los suelos sanos y productivos,
                asegurando la seguridad alimentaria, combatiendo el cambio climático
                 y protegiendo los ecosistemas</p>

          <p><strong>Contactar con la Secretaría la Alianza Mundial por el Suelo :</strong></p>
          <li><a href="mailto: gsp-secretariat@fao.org"><strong>Correo Electronico</strong></a></li>
         
        </div>
      </div>
    </div>
  </section>
</div>
