<app-menu ngSkipHydration></app-menu>
<div class="main-container">
    <header class="hero">
        <h1>Uso sostenible de los ecosistemas terrestre </h1>
      </header>
      <br>
        <div class="image-container">
            
            <img src="../../assets/eco1.jpg" alt="Leopardo en Masai Mara" class="main-image">
            <img src="../../assets/eco2.jpg" alt="Leopardo en Masai Mara" class="main-image">
            <img src="../../assets/eco3.jpg" alt="Leopardo en Masai Mara" class="main-image">
            <img src="../../assets/eco4.jpg" alt="Leopardo en Masai Mara" class="main-image">
            
        </div>
    
    <section class="content">
    <div class="info">
      <h2>Proteger, restaurar y promover el uso sostenible de los ecosistemas terrestre</h2>
      <p class="b">
        Los <strong>ecosistemas terrestres</strong> son fundamentales para el equilibrio del planeta,
         ya que proporcionan servicios esenciales como la regulación del clima, la purificación
          del agua y la conservación de la biodiversidad. La intervención humana ha causado un
           deterioro en estos ecosistemas, comprometiendo su capacidad para sostener la vida y
            mantener un ambiente saludable. Uno de los mayores desafíos para la preservación de
             los ecosistemas terrestres es la deforestación. La expansión agrícola, la urbanización
              y la explotación excesiva de los recursos naturales han reducido las áreas forestales,
               afectando la biodiversidad y acelerando el cambio climático. La tala de árboles no
                solo elimina hábitats esenciales para numerosas especies, sino que también disminuye
                 la capacidad de los bosques para absorber dióxido de carbono, lo que agrava el 
                 calentamiento global.
        <br><br>
        Para <strong>proteger y restaurar los ecosistemas terrestres</strong>, se deben adoptar estrategias efectivas
         de conservación y gestión responsable. La creación de reservas naturales y áreas protegidas
          contribuye a la recuperación de los ecosistemas degradados. La reforestación y la restauración
           ecológica son herramientas clave para recuperar la funcionalidad ambiental de los bosques y
            otros hábitats naturales. El aprovechamiento sostenible de los recursos naturales es un pilar
             esencial para la conservación de los ecosistemas. 
             Implementar prácticas agrícolas sostenibles, reducir el consumo de madera y fomentar el
              ecoturismo responsable son acciones concretas que pueden mitigar el impacto humano sobre
               el medio ambiente. Además, la implementación de políticas ambientales eficaces y 
                cooperación internacional son fundamentales para garantizar la protección de los
                 ecosistemas a nivel global.
        

      </p>
    </div>
    <div class="share-panel">
        <h5>The Nature Conservancy (TNC)</h5>
        <ul>
            <h6>Organización enfocada en la protección de ecosistemas terrestres a nivel mundial </h6>
            <p>Sede mundial: 4245 North Fairfax Drive, Suite 100, Arlington, Virginia 22203-1606, Estados Unidos  
                <br> Teléfono:800-461-9330 <br>
            </p>
            <li><a href="mailto:allison_martin@tnc.org">Equipo de conservación global de TNC en colaboración con pueblos indígenas </a></li>
            <li><a href="mailto:jwilson@tnc.org">Equipo legal global de TNC </a></li>
            <li><a href="http://nature.org/tnchelpline">Números de teléfono locales en todo el mundo </a></li>
            
        </ul>
    </div>
</section>
</div>
