
<app-menu ngSkipHydration></app-menu>
<div class="main-container">
    <header class="hero">
        <h1>Lucha contra la desertificación </h1>
      </header>
      <br>
        <div class="image-container">
            
            <img src="../../assets/deser1.jpg" alt="Leopardo en Masai Mara" class="main-image">
            <img src="../../assets/3.jpg" alt="Leopardo en Masai Mara" class="main-image">
            <img src="../../assets/deser3.jpg" alt="Leopardo en Masai Mara" class="main-image">
            <img src="../../assets/deser4.jpg" alt="Leopardo en Masai Mara" class="main-image">
            
        </div>
    
    <section class="content">
    <div class="info">
      <p>La <strong>desertificación</strong> es un proceso de degradación de la tierra, este fenómeno es principalmente provocado por la actividad humana y por el cambio climático. Cuando esto se produce se da la pérdida de la capa fértil de la tierra, además de que disminuye la vegetación en ella y se ve afectada la capacidad productiva de los suelos, lo que compromete la seguridad alimentaria, además de la biodiversidad y el acceso que se tiene al agua, lo cual tiene un impacto directo en grupos de personas que dependen de este, ya sea para actividades ganaderas o la agricultura.</p>

      <p>Para poder combatir esta problemática es muy importante implementar diferentes estrategias para el manejo sostenible de los recursos naturales. Para el caso de la desertificación es de mucha ayuda la <strong>reforestación</strong>, esto ayuda a mejorar la cubierta vegetal del suelo y mejorar la retención de agua que este puede tener. Por otro lado, también es de suma importancia la correcta <strong>conservación del agua</strong>; la <strong>cosecha de agua de lluvia</strong> es clave para mantener la humedad en las regiones más propensas a caer en sequía.</p>

      <p>La lucha contra la desertificación tiene grandes desafíos, estos desafíos se deben en especial a los intereses que tienen las empresas agroindustriales y empresas mineras, ya que estas explotan los recursos de los suelos sin tomar en cuenta la capacidad de regeneración que este puede tener y que se puede ver afectado. Existen diferentes iniciativas que buscan reducir y revertir los efectos de estos procesos de desertización. Un ejemplo es la <strong>Gran Muralla Verde de África</strong>; este es un proyecto que se basa en restaurar alrededor de 8.000 kilómetros de tierra que se encuentra degradada en el Sahel, esto por medio de una plantación de árboles y la implementación de diferentes prácticas agrícolas sostenibles.</p>

      <p>Además de la reforestación y la conservación del agua, es fundamental promover <strong>prácticas agrícolas sostenibles</strong> que eviten la sobreexplotación del suelo. La implementación de técnicas como la <strong>rotación de cultivos</strong>, el uso de <strong>abonos orgánicos</strong> y la <strong>agroforestería</strong> contribuyen a mantener la fertilidad del suelo y prevenir su degradación. Asimismo, la educación y concienciación de las comunidades locales sobre la importancia de gestionar adecuadamente los recursos naturales es esencial para garantizar la sostenibilidad a largo plazo.</p>

      <p>En regiones áridas, se han desarrollado métodos innovadores para captar agua. Por ejemplo, en el <strong>desierto de Atacama en Chile</strong>, científicos están cosechando agua de la niebla mediante paneles de malla, logrando obtener hasta 10 litros de agua por metro cuadrado al día. Este enfoque ofrece una solución viable para mitigar la sequía en zonas aisladas y áridas.</p>

      <p>Es crucial también abordar las causas subyacentes de la desertificación, como la <strong>deforestación</strong> y las <strong>prácticas agrícolas no sostenibles</strong>. La implementación de políticas que regulen el uso de la tierra y promuevan la restauración de ecosistemas degradados es vital para frenar este fenómeno. Además, la colaboración internacional y el apoyo financiero a proyectos de restauración y conservación pueden acelerar los esfuerzos para combatir la desertificación a nivel global.</p>

      <p>En resumen, la desertificación es un desafío ambiental y socioeconómico que requiere una respuesta integral. La combinación de reforestación, conservación del agua, prácticas agrícolas sostenibles y políticas adecuadas puede contribuir significativamente a mitigar sus efectos y promover la recuperación de las tierras degradadas.</p>

    </div>
    <div class="share-panel">
        <h5>Contacto CNULD</h5>
        <ul>
            <h6>Para información sobre los eventos de La Convención de las Naciones Unidas de Lucha contra la Desertificación </h6>
            <p>Sede mundial: 4245 North Fairfax Drive, Suite 100, Arlington, Virginia 22203-1606, Estados Unidos  
                <br> Teléfono:800-461-9330 <br>
            </p>
            <li><a href="https://www.unccd.int/cop28pavilion"><strong>Visite aquí</strong></a></li>
              <br>
            <p><strong>Oficinas Regionales de Enlace:</strong></p>
          <ul>
            <li><strong>África:</strong> Eaux et Forêts, Avenida Mohamed VI, Km 7.5
                Soussi, Rabat 10170, Marruecos</li>
            <li>Teléfono: 212 537 666 301</li>

            <li><strong>Asia:</strong>Ubicada en la sede de la UNCCD en Bonn</li>
            <li>Teléfono: 49 228 815 2830</li>

            <li><strong>América Latina y el Caribe:</strong>Edificio Norte, División de CELADE
                Dag Hammarskjöld 3477
                Santiago de Chile, Chile</li>
            <li>Teléfono: 562 2210-2017</li>


            <li><strong>Mediterráneo Septentrional :</strong>Edificio Norte, División de CELADE
                Ministerio de Bosques y Asuntos Hídricos, 1ª Dirección Regional
                Buyukdere Caddesi No:265
                Campus del Bosque Fatih, Maslak / Sartre
                Estambul, Turquía</li>
            <li>Teléfono: 90 212 2993301</li>

            <li><strong>Europa:</strong>Ubicada en la sede de la UNCCD en Bonn</li>
            <li>Teléfono: 49 228 815 2824</li>
            
            <li><strong>Nueva York:</strong>Sede de las Naciones Unidas
                Edificio DC1
                11° piso, Oficina 1170
                Nueva York, N.Y. 10017, EE. UU.</li>
            <li>Teléfono: 001 212 963 4871</li>
          </ul>
          
            
        </ul>
    </div>
</section>
</div>
