
<app-menu ngSkipHydration></app-menu>
<div class="main-container">
    <header class="hero">
        <h1>Lucha contra la desertificación </h1>
      </header>
      <br>
        <div class="image-container">
            
            <img src="../../assets/deser1.jpg" alt="Leopardo en Masai Mara" class="main-image">
            <img src="../../assets/3.jpg" alt="Leopardo en Masai Mara" class="main-image">
            <img src="../../assets/deser3.jpg" alt="Leopardo en Masai Mara" class="main-image">
            <img src="../../assets/deser4.jpg" alt="Leopardo en Masai Mara" class="main-image">
            
        </div>
    
    <section class="content">
    <div class="info">
      <p class="b">
        La lucha contra la desertificación es un esfuerzo global para combatir la degradación de la tierra en zonas áridas, semiáridas y subhúmedas secas, con el objetivo de promover el desarrollo sostenible4. Esta lucha abarca actividades de prevención o reducción de la degradación de las tierras, la rehabilitación de tierras parcialmente degradadas, y la recuperación de tierras desertificadas4.
        Causas y relación con otros problemas:
        La desertificación, la degradación de la tierra y la sequía son algunos de los retos medioambientales más apremiantes en la actualidad6.
        La sequía, la desertificación y la degradación del suelo causadas por el cambio climático están directamente relacionadas con el uso sostenible de los ecosistemas y la seguridad alimentaria2.
      </p>
    </div>
    <div class="share-panel">
        <h5>Contacto CNULD</h5>
        <ul>
            <h6>Para información sobre los eventos de La Convención de las Naciones Unidas de Lucha contra la Desertificación </h6>
            <p>Sede mundial: 4245 North Fairfax Drive, Suite 100, Arlington, Virginia 22203-1606, Estados Unidos  
                <br> Teléfono:800-461-9330 <br>
            </p>
            <li><a href="https://www.unccd.int/cop28pavilion"><strong>Visite aquí</strong></a></li>
              <br>
            <p><strong>Oficinas Regionales de Enlace:</strong></p>
          <ul>
            <li><strong>África:</strong> Eaux et Forêts, Avenida Mohamed VI, Km 7.5
                Soussi, Rabat 10170, Marruecos</li>
            <li>Teléfono: 212 537 666 301</li>

            <li><strong>Asia:</strong>Ubicada en la sede de la UNCCD en Bonn</li>
            <li>Teléfono: 49 228 815 2830</li>

            <li><strong>América Latina y el Caribe:</strong>Edificio Norte, División de CELADE
                Dag Hammarskjöld 3477
                Santiago de Chile, Chile</li>
            <li>Teléfono: 562 2210-2017</li>


            <li><strong>Mediterráneo Septentrional :</strong>Edificio Norte, División de CELADE
                Ministerio de Bosques y Asuntos Hídricos, 1ª Dirección Regional
                Buyukdere Caddesi No:265
                Campus del Bosque Fatih, Maslak / Sartre
                Estambul, Turquía</li>
            <li>Teléfono: 90 212 2993301</li>

            <li><strong>Europa:</strong>Ubicada en la sede de la UNCCD en Bonn</li>
            <li>Teléfono: 49 228 815 2824</li>
            
            <li><strong>Nueva York:</strong>Sede de las Naciones Unidas
                Edificio DC1
                11° piso, Oficina 1170
                Nueva York, N.Y. 10017, EE. UU.</li>
            <li>Teléfono: 001 212 963 4871</li>
          </ul>
          
            
        </ul>
    </div>
</section>
</div>
